<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.techeye">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TechEye"
        android:usesCleartextTraffic="true">
        <activity android:name=".enabler.Enabler_SignUP.RecordingPropertyVideo"></activity>
        <activity android:name=".enabler.Enabler_SignUP.CapturePropertyPhoto">

        </activity>
        <activity
            android:name=".enabler.Enabler_SignUP.Geofence_Enabler.ShowPropertyinMap"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".enabler.Enabler_SignUP.ShowPropertyCoordinetes"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".enabler.Enabler_SignUP.ShowPropertyDetails"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".enabler.Enabler_SignUP.EnablerJobRequest"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".enabler.Enabler_SignUP.Enabler_ForgotPassword_Activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".subscriber.viewalldetails.ViewRequestRaised"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".subscriber.SendMessage"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".enabler.Enabler_SignUP.UserProfileDetails"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".enabler.Enabler_SignUP.Signin_Enabler"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".enabler.Enabler_SignUP.BankAccountDetails"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".enabler.Enabler_SignUP.Navigation_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".enabler.Enabler_SignUP.ChangePassword"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".enabler.Enabler_SignUP.EmailOTPConfirmation_enabler"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".enabler.Enabler_SignUP.Details"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".enabler.Enabler_SignUP.PersonalDetails_Enabler"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".subscriber.viewalldetails.ViewPropertyDetails"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".subscriber.geofence.DirectionMapForGeofence"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".subscriber.viewalldetails.ViewPackagesDetails"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".subscriber.geofence.Geofence"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".subscriber.viewalldetails.ViewUserPropertyDetails"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".subscriber.viewalldetails.AccountDetails"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".subscriber.geofence.VideoCalling"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".subscriber.ViewPdfFile"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".subscriber.About_Us"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".subscriber.ProfilePage_Subscriber"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".subscriber.HomePage_Subscriber"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".subscriber.Forgot_password"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".subscriber.Signin"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".subscriber.Confirm"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".subscriber.PersonalDetails"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".subscriber.Declaration_Page"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".subscriber.EmailOTPConfirmation"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".subscriber.BillingAddress"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".subscriber.Kyc"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".subscriber.Subscription"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".subscriber.personal.PropertyDetails"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_rD4r9gTr7emaSX" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <receiver
            android:name=".enabler.Enabler_SignUP.Geofence_Enabler.GeofenceBroadcastReceiver"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>